<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Team manager</title>

        <!-- Angular -->
        <script src="js/lib/angular.min.js"></script>
        <script src="js/lib/ngStorage.js"></script>

        <!-- Application -->
        <script src="js/app.js"></script>
        <script src="js/services/playerservice.js"></script>
        <script src="js/services/teamservice.js"></script>
        <script src="js/controllers/homecontroller.js"></script>
        <script src="js/controllers/teamcontroller.js"></script>
        <script src="js/controllers/playercontroller.js"></script>
        <script src="js/controllers/draganddroputil.js"></script>
        
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="js/lib/jquery.min.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/lib/bootstrap.min.js"></script>

        <!-- Bootstrap -->    
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body ng-app="app">
        <div ng-controller="HomeController as home">		 	
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6" ng-controller="TeamController as team">
                        <input class="btn btn-default" type="button" value="Team" ng-click="team.showHideTeam()" />
                        <div class="ng-hide" ng-show="team.isTeamVisible">                            
                            <div id="teamPlayers" ondrop="drop(event)" ondragover="allowDrop(event)" style="height:100px;width:100px;">
                                <li class="list-group-item" ng-repeat="p in team.team.list">
                                    <div id="teamDrag" draggable="true" ondragstart="drag(event)">{{p}}</div>
                                </li>
                            </div>
                        </div>
                    </div>	                 		
                    <div class="col-xs-6" ng-controller="PlayerController as player">                    
                        <input class="btn btn-default" type="button" value="Player" ng-click="player.showHidePlayer()">
                        <div class="ng-hide" ng-show="player.isPlayerVisible">
                            <div class="row">
                                <div class="col-xs-6">   
                                    <input class="btn btn-default player-add" type="button" value="+" ng-click="player.enableAddPlayer()">
                                    <div class="ng-hide" ng-show="player.isEnableAddPlayer">
                                        <form ng-submit="player.savePlayer(player.name, player.mobile)">
                                            <div class="form-group">
                                                <label for="playerName">Name</label>
                                                <input type="text" class="form-control" name="playerName" ng-model="player.name" placeholder="Name">
                                            </div>                                    
<!--                                             <div class="form-group">
                                                <label for="playerMobile">Mobile</label>
                                                <input type="text" class="form-control" name="playerMobile" ng-model="player.mobile" placeholder="Mobile">
                                            </div>                                    
 -->                                            <input class="btn btn-default" type="submit" value="Save">
                                        </form>
                                    </div>
                                </div>
                                <div id="playerListDiv" class="col-xs-6">                                      
                                    <ul class="list-group">                            
                                        <li class="list-group-item" ng-repeat="p in player.players.list">
                                            <div id="playerDrag{{$index}}" name="playerDrag{{$index}}" draggable="true" ondragstart="drag(event)">{{p}}</div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>     
            </div>
        </div>		
    </body>
</html>